@font-face {
    font-family: "GreatVibes";
    src: url(../fonts/GreatVibes-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Outfit";
    src: url(../fonts/Outfit-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lobster";
    src: url(../fonts/Lobster-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}





*{
    margin: 0px;
    padding: 0px;
    
}

body{
    --color-header:#b4c5db;
    --color-logo: #5B1F39;
    

}

/*HEADER BUENO*/

.logo {
    font-family: GreatVibes;
    font-size: 40px;
    font-weight: bold;
    color: var(--color-logo);
    line-height: 70px;
    float: left;
}


.top-nav {

   

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: var(--color-header);
   
    color: #5B1F39;
    height: 70px;


    padding-right: 15%;
    padding-left: 15%;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
    line-height: 70px;
    margin-left: 40px;
    font-family: Outfit;
    font-weight: 400;
    font-size: 18px;
    
    
}

.menu>li a{
   
    color: var(--color-logo);
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
    text-underline-offset: 10px;
}



.menu>li a:hover{
   
    text-decoration-color: var(--color-logo);
    text-underline-offset: 10px;
    
    
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: var(--color-logo);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: "";
    margin-top: -8px;
}

.menu-button::after {
    content: "";
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}








/*HEADER BUENO*/



#firstcontainer{
    width:100%;
    overflow: hidden;
    height: 800px;
    background-image: url("../img/FotoPrincipal.png");
    background-repeat: no-repeat;
    background-size: 2200px;
    background-position: 0px -400px;
    
}



#firstcontainer .opacityblack{
    background-color: rgba(0, 0, 0, 1);
    width:100%;
    height: 800px;
    background: rgba(3, 3, 3, 0.8);

}

#firstcontainer .opacityblack .fcontainer-logo{
    color: white;
   
    
    
    font-family: Lobster;
    

    
    
    margin-left: 18%;
    
}

.texto-grande-logo{
    font-size: 48px;
    padding-top: 400px;
}

.texto-peque-logo{
    padding-left: 40px;
}

#secondcontainer{
    width: 100%;
    min-height: 300px;
    background:#4C2A45;
}


.listacontainer{
    display: flex;
    width: 80%;
    margin: 0px auto;
    font-size:19px;
    font-family: Lobster;
    
    color:#B3A181;
    justify-content: space-around;

   
}

.listacontainer img{
    width: 100px;
}

.imgcaja{
    width:100%;
    
    margin-top: 50px;
    margin-bottom: 30px;
}

.caja{
    padding: 20px;
    text-align: center;
}


#thirdcontainer{
    width: 100%;
    min-height: 976px;
    background:#B3A181;
}

.titulo-thirdcont{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    text-align: center;
    padding-top: 40px;
    font-family: Lobster;
    color:#5B1F39;
}

.titulo-grid{
    grid-column: 2/ 3;
}

.resize-thirdcont{
    font-size:40px;
}


.photo-container{
    width: 64%;
    margin: 0px auto;

}



.photo-container{
    
     padding-top: 40px; 

     display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
}



.caja-galeria{
    margin: 0px auto;
    
    margin-bottom: 40px;
   
}

.caja-galeria img{
    width: 250px;
    border-radius: 3%;
     box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.41);
}

.terraza-container{
    width:100%;
    overflow: hidden;
    height: 800px;
    background-image: url("../img/FotoTerraza.png");
    background-repeat: no-repeat;
    background-size: 2200px;
    background-position: 0px -500px;
    
}

.terraza-container img{
    width:100%;
    position:absolute
    
}

.terraza-container .opacityblack{
    background-color: rgba(0, 0, 0, 1);
    width:100%;
    height: 800px;
    background: rgba(3, 3, 3, 0.8);

}

.terraza-container .opacityblack .fcontainer-logo{
    color: white;
   
    
    
    font-family: Lobster;


    
    
    margin-left: 18%;
    
}



.texto-peque-logo-terraza{
    padding-left: 32px;
}


.container-horario{
    width: 100%;
    min-height: 500px;
    background:#4C2A45;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.horario {
    padding-left: 20px;
    padding-right:20px;

    
    font-family: Lobster;
    color: #B3A181;
    text-align: center;
}

.donde-estamos{
    padding-left: 20px;
    padding-right:20px;

    
    font-family: Lobster;
    color: #B3A181;
    text-align: center;
}

.container-horario p{
    font-family: Outfit;
    color: #B3A181;
    font-weight: 700;
}

.donde-estamos-container iframe{
    width:100%;
    height:300px;
    margin-top:10px;
    border-radius: 15px;
    border: 5px solid black;
    box-shadow:
    4.2px 3.6px 3.8px rgba(0, 0, 0, 0.037),
    10.2px 8.6px 9.2px rgba(0, 0, 0, 0.053),
    19.2px 16.2px 17.3px rgba(0, 0, 0, 0.065),
    34.2px 28.8px 30.8px rgba(0, 0, 0, 0.077),
    63.9px 53.9px 57.7px rgba(0, 0, 0, 0.093),
    153px 129px 138px rgba(0, 0, 0, 0.13)
  ;
  
  
}

.donde-estamos-container{
    text-align: justify;
}

.horario-container{
    font-family: Outfit;
    text-align: justify;
}



.horario-container ul{
    margin-left: 25%;
}

footer{
    min-height: 190px;
    background: var(--color-header);
}

.logo-footer{
    width: 25%;
    font-family: GreatVibes;
    font-size:40px;
    font-weight: bold;
    color:var(--color-logo);
    line-height: 150px;
    text-align: center;
    
}

#footer{
    width: 79%;
    margin:0px auto;
    display:flex;
    justify-content: space-around;
    padding-top: 20px;
}

.contacto-footer img{
    width: 5%;
}

.contacto-footer{
    width: 310px;
    margin-left: 15px;
}

#footer .contacto-footer a{
    text-decoration: none;
    color: black;

    
}

#footer .contacto-footer a:hover{
    color: rgb(54, 54, 54);
}


/*Responsive*/

@media(max-width:1310px){
    .photo-container{
     width: 91%;
    }    
 }
 





@media (max-width: 1143px) {
    .top-nav {

   
    
        padding: 1em;
    }

    #footer {
        width: 100%;
    }

    .contacto-container .formas-de-contacto{
        grid-template-columns: 1fr;
    }


}

@media(max-width:1005px){
    .contacto-footer{
        font-size: 14px;
    } 
    .informacion-footer{
        font-size: 14px;
    }
 }


@media(max-width:910px){
    .photo-container{
        grid-template-columns: repeat(2, 1fr);
    }    

    .titulo-thirdcont {
         display: grid; 
         grid-template-columns:  1fr;
    }

    .titulo-grid{
        grid-column: 1;
    }

    .ultima-foto{
        display:none;
    }
    
   
 }



@media (max-width: 832px) {
    .menu>li {
        margin: 0 14px;

    }

    #footer{
   
      flex-direction: column;
        align-items: center;
      
    }

    .logo-footer{
        order:1;
    }

    .contacto-footer{
        order:2;
        margin-bottom: 20px;
    }

    .informacion-footer{
        order:3;

    }
    .contacto-footer h5{
        text-align: center;
        color:var(--color-logo);
    }


    .informacion-footer h5{
        text-align: center;
        color:var(--color-logo);
    }
    /* .contacto-footer {
        align
    } */
    .container-horario {
       
        flex-direction: column;
       
    }
    .horario-container {
        
        text-align: center;
    }

    .horario-container ul{
        list-style-type: none;
        margin-right: 24%;
    }

    

    .donde-estamos iframe{
        width: 75%;
        margin-left:12%;
        margin-right: 10%;
        
    }

    .donde-estamos p{
        margin-left:12%;
        margin-right: 15%;
    }

}





@media (max-width: 700px) {

    .texto-grande-logo {
       
        padding-top: 250px;
    }
    .texto-peque-logo {
        padding-left: 10px;
    }
    .texto-peque-logo-terraza {
        padding-left: 10px;
    }

    #firstcontainer{
        height: 600px;

        background-size: 1563px;
        background-position: -107px -400px;
    }
    

    #firstcontainer .opacityblack{
        height:600px;
    }

    

    .terraza-container {
      
        height: 600px;
       
        background-size: 1700px;
        background-position: -309px -454px;
    }

    .terraza-container .opacityblack{
        height: 600px;
    }
    
    .terraza-container .opacityblack .fcontainer-logo {
      
        margin-left: 13%;
    }

    .terraza-container .texto-grande-logo {
        padding-top: 229px;
    }

    .menu-button-container {
        display: flex;
    }

    .top-nav{
        padding: 1em;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 0px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color:  var(--color-header);;
        line-height: 28px;
    }

    .menu>li a{
        
        color: var(--color-logo);
        font-weight: bold;
        transition: text-decoration-color 0ms;
    }

    .menu>li a:hover{
   
        text-decoration:none;
        
        
        
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }

    .listacontainer{
        flex-direction: column;
    
       
    }

    .caja {
        padding: 0px;
       
    }


    .contacto-container .formas-de-contacto img {
        width: 72px;
      
    }

    .contacto-container .formas-de-contacto  .fdca{
        font-size: 20px;
    }



}

@media (max-width: 607px) {
    .logo-footer {
        width: 100%;
        font-size: 40px;
    }

}


@media (max-width: 590px) {
    .photo-container {
        grid-template-columns: 1fr;
    }
    
    .terraza-container .opacityblack .fcontainer-logo {
        margin-left: 0%;
        width: 100%;
        text-align: center;
    }

    #firstcontainer .opacityblack .fcontainer-logo {
        margin-left: 0%;
        width: 100%;
        text-align: center;
    }
    .informacion-footer{
        display:none;
    }

    .contacto-container .formas-de-contacto img {
        width: 60px;
      
    }

    .contacto-container .formas-de-contacto  .emailfdca{
        font-size: 15px;
        font-weight: bold;
    }
}


@media (max-width: 474px) {
    .texto-grande-logo{
        font-size: 31px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .texto-peque-logo-terraza{
        padding-left: 10px;
        padding-right: 10px;
    }


    
    
    .texto-peque-logo{
        padding-left: 10px;
        padding-right: 10px;
    }


    .informacion-footer{
        padding-left: 10px;
        padding-right: 10px;

    }
}

@media (max-width: 422px) {
    .contacto-container .formas-de-contacto  .emailfdca{
        font-size: 12px;
        font-weight: bold;
    }
}

@media (max-width: 340px) {
    .contacto-container .formas-de-contacto  .emailfdca{
        font-size: 10px;
        font-weight: bold;
    }
}


@media (max-width: 320px) {
    .donde-estamos iframe {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .caja-galeria img {
        width: 80%;
        margin-left: 10%;
        border-radius: 3%;
        box-shadow: 0px 0px 17px 0px rgb(0 0 0 / 41%);
    }

    .contacto-footer{
        font-size: 12px;
    }
}




#header-first-container{
    width:100%;
    overflow: hidden;
    height: 200px;
    background-image: url("../img/FotoPrincipal.png");
    background-repeat: no-repeat;
    background-size: 1950px;
    background-position: 0px -400px;
}

#header-first-container .header-opacityblack{
    background-color: rgba(0, 0, 0, 1);
    width:100%;
    height: 200px;
    background: rgba(3, 3, 3, 0.8);

}

.header-fcontainer-texto{
    color: white;
    text-align: center;
    line-height: 200px;
    font-family: Lobster;
    font-weight: 400;
    font-size:40px;
}


.contacto-container{
    background:#B3A181;
    min-height: 490px;
    padding-bottom: 20px;
}

.contacto-container-titulo{
    font-family: Lobster;
    text-align: center;
}

.formas-de-contacto{
    width: 75%;
    margin: 0px auto;

    display:grid;
    grid-template-columns: repeat(2,1fr);
    border: 3px solid #5B1F39;
    border-style: solid dashed;
    border-radius: 50px;
   

    /* border-radius: 50px; */
    
    /* box-shadow:  23px 23px 45px #98896e,
                 -23px -23px 45px #ceb994; */
    padding: 20px;
    margin-bottom: 20px;
}


.formas-de-contacto img{
    width: 80px;
    /* margin-left: 45%; */
    /* margin-bottom: 20px; */
    
}



.contacto-container .formas-de-contacto  a{
    text-align: center;
    margin:0px;
    display:block;
    margin-bottom: 40px;
    margin-top: 20px;
    color: #5B1F39;
    
    font-family: Outfit;
    text-decoration: none;
    font-size: 27px;
 
}




.contacto-container .formas-de-contacto  a:hover{
    color: #491a2e;
    font-weight: bold;
    text-decoration: none;
}

.contacto-container-titulo{
    color: #5B1F39;
    padding-top: 20px;
    padding-bottom: 20px;
}